


/* Dark theme colors */
.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --accent: #7F00FF;
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

/* Light theme colors */
.light {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

* {
    --nav-width: 1024px;
    --main-width: 720px;
    --gap: 24px;
}
    
body {
    background-color: var(--theme); /* Set the default background color to the theme color */
    font-family: 'Fira Code'; /* Set the default font family to Fira Code */
    font-weight: 400; /* Set the default font weight to 400 */
    font-size: 16px; /* Set the default font size to 18px */
    margin: 0px;
}

a, button, body, h1, h2, h3, h4, h5, h6 {
    color: var(--primary); /* Set the default text color to the primary color */
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

a {
    text-decoration: none; /* Remove link decorations */
}

button {
    background: 0 0; /* Remove the button background */
    border: 0; /* Remove the button borders */
}

.page-header {
    display: flex; /* If there is enough space in the header show the navbar centered on the page*/
    justify-content: center;
    height: 60px;
}

nav {
    display: flex; /* Make the navbar items go side by side instead of on top of each other */
    flex-wrap: wrap; /* Make the navbar items stack on top of each other when there isn't enough space */
    justify-content: space-between; /* Make the item have space in between them */
    padding-left: var(--gap); /* Keep the navbar away from the left side of the page */
    padding-right: var(--gap); /* Keep the navbar away from the left right of the page */
    width: 100%; /* The navbar will always take 100% of the width  */
    max-width: calc(var(--nav-width) + var(--gap) * 2); /* Set the navbar max width to its width plus 2 times the gap width */
}

main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

button {
    padding: 0px;
    margin: 0px 0px 0px 10px; /* Make the toggle-theme button have a 10px margin from the logo */
    font-size: 0px; /* Remove a weird space below the button */
}

button:hover {
    cursor: pointer; /* Make the mouse become a pointer on hover*/
    color: var(--secondary); /* Change to the secondary color on mouse hover */
}

.logo-container {
    display: flex; /* Put the toggle-theme button on the side of the logo */
    align-items: center;
    height: 48px;
}

.logo {
    font-size: 24px; /* Make the logo's text bigger */
    font-weight: 700; /* Make the logo's text bold */
}

.toggle-container {
    display: flex;
    align-items: center;
    height: 100%;

}

.menu-container {
    display: flex;
    list-style: none;
    padding: 0px;
}

.material-icons {
    font-size: 24px;
}

.menu-item {
    height: 100%;
}

#menu-button {
    padding: 0px 12px 0px 0px;
    font-weight: 100;
}

#menu-button:hover {
    color: var(--secondary);
}

.home-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2);
}

.entry-content {
    color: var(--secondary);
    font-weight: 500;
    margin: 16px 0px;
}

.entry-footer {
    color: var(--secondary);
    font-weight: 500;
    font-size: 24px;
}